
body { 
    background-color: #D6FFFC;
}

header { 
    
    background: url('../tioman-island.jpeg')
    no-repeat center/cover;
    height: 500px;
    width: 100%;
    font-size: 100px;
    font-family: lato;
    text-align: center bottom;
    position: relative;
    top: 10px !important;
    display: block;
    color: #FDF4C4;
}

h1 { 
    
    background-image: url('../tioman-TwinPeaks.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 50%;
    border-radius: 50%;
    color:#F6D2CB;
    font-family: lato;
    font-size: 50px;
    text-decoration: underline;
    
    


}

h2 { 
    background-image: url('../Jungle.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}

p:first-of-type { 
    text-align: center;
    border-style: groove;
    font-size: 25px;
    color: #709BFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image1 { 
    position: right;
    margin-bottom: 100px;
    margin-left: 800px;
}

p:nth-of-type(2) { 
    font-family: sans-serif;
    font-size: 22px;
    
    
}

h3 { 
    background-image: url('../Snorkeling.jpg');
    background-position: left;
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 400px;
    
}

.imgage2 { 
    
    
}

.image3 {
    position: relative;
    right: 800px;
    height: 400px;
    width: 400px;
    margin-left: 800px;
    border-radius: 50%;
}
p:nth-of-type(3) { 
    background-image: url('../monkeyjungle.jpg');
    background-position: right;
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    width: 100%;
    color: #F6D2CB;
    font-size: 30px;
    display: block;
    margin-top: 20px;
    
}

h4 { 
    background-image: url('../pexels-richard-segal-732340-1645028.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
}

.dropdown { 
    position: relative;
    display: inline-block;
}

.dropdown-content { 
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0,2);
}

.dropdown-content a { 
    padding: 12px 16px;
    display: block;

}

.dropdown-content a:hover { 
    background-color: #f1f1f1;

}

.dropdown:hover .dropdown-content { 
    display:block;

}

.dropdown:hover .dropdown-btn { 

}