/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #D6FFFC;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
    background-image: url("../beachhuts.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1, h2  {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #709BFF;
    text-decoration: none;
    font-size: 4rem;
    text-align: center;
    font-style: bold;
    
    
}



/* Header */
header {
    background-color: #FDF4C4;
    color: #709BFF;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #FDF4C4;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

.image1 { 
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.image2 { 
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
}

.image3 { 
    width: 100%;
    height: auto;
    background-position: center;
    max-width: 100%;
}

.image4 { 
       background-position: center;
       width: 100%;
       height: auto;
       max-width: 100%;
       
}

.image5 { 
    border-radius: 50%;
    margin-left: 50px;
}

.image6 { 
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.image7 { 
    height: 300px;
    width:300px;
    border-radius: 50%;
    margin-left: 100px;
    
}

.image8 { 
    width: 100%;
    background-position: cover;
    height: auto;
} 

.image10 { 
    height: 300px;
    width: 300px;  
    border-radius: 50%;
    margin-left: 100px;

    
}

.image11 { 
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-left: 100px;
} 

.image12 { 
    
    margin-left: 50px;
    border-radius: 50%;
    
}

.contactus { 
    width: 100%;
}
.form-label { 
    color:#709BFF;
    text-decoration: underline;
    
}
 p { 
    color:#709BFF;
    background-color: #D6FFFC;
    font-size: 2px;
    width: 100%;  
    margin: 20px 20px;
    font-style: italic;
    max-width: 1000px;
    text-align: center;
    margin-left: 170px;
}

p:nth-of-type(2) { 
    background-color: #F6D2CB;
    font-style: bold;
    font-size: 2px;
}


/* Main content */
main {
    
    flex: 1 0 auto;
    margin-top: 47px;
}


#history {
    height: 600px;
    width: 100%;
    background: url("../tioman-TwinPeaks.jpg") no-repeat center center/cover;
    position: relative;
    height: 400px;
}

#cover-text {
    
    background-color: #FDF4C4;
    font-size: 150%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #709BFF;
}



/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #F6D2CB;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    
    #cover-text {
        width: 300px;
        right: 50px;
    }

    p { 
        font-size: 2vw;
        
    }

    p:nth-of-type(2) {
        font-size: 2vw;
    }

    footer { 
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .image1 { 
        width: 100%;
        height: auto;
        max-width: 100%;
        display: block;
        
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}